@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');



/* bloack one */

#blockone {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    margin: auto;
    padding: auto;
    color: white;
    padding-bottom: 120px;
    gap: 20px;
}


.header {
    display: flex;
    justify-content: space-around;
    gap: 320px;
}

ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 20px;
    font-size: 14px;
    margin-top: 20px;
}

.awesome {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    height: 200px;
    gap: 180px;
}

.side {
    width: 250px;
}

.placeholder {
    width: 450px;
    height: 200px;
    background-color: #6D737D;
    text-align: center;
    color: white;
    line-height: 200px;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Sora', sans-serif;
}

html {
    height: 100%;
}

.text {
    width: 350px;
    font-size: 15px;
}

.signup {
    border-radius: 10px;
    padding: 8px 32px;
    background-color: #3A82F6;
    color: white;
    font-weight: bold;
    border: none;
}

.links {
    color: #6D737D;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

/* 

Block two

*/

.blocktwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.title {
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 24px;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.under {
    font-size: 14px;
    height: 100px;
    width: 200px;
    text-align: center;
}

/* 

Block Three */ 

.blockthree {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E6E7EB;
    height: 350px;
    justify-content: center;
}

.quote {
    font-size: 24px;
    width: 700px;
    font-style: italic;
    font-weight: 100;
}

.author {
    font-weight: bold;
    padding-left: 350px;
}

/*
Block Four */


